[package]
name = "graph-chain-near"
version = "0.23.1"
edition = "2018"

[build-dependencies]
tonic-build = "0.5.1"

[dependencies]
chrono = "0.4"
futures = "0.1.21"
http = "0.1.21" # must be compatible with the version rust-web3 uses
graph = { path = "../../graph" }
lazy_static = "1.2.0"
mockall = "0.9.1"
state_machine_future = "0.2"
serde = "1.0"
dirs-next = "2.0"
anyhow = "1.0"
hex = "0.4.3"
prost = "0.8.0"
prost-types = "0.8.0"
semver = "1.0.3"
itertools = "0.10.0"

graph-runtime-wasm = { path = "../../runtime/wasm" }
graph-runtime-derive = { path = "../../runtime/derive" }

[dev-dependencies]
diesel = { version = "1.4.7", features = ["postgres", "serde_json", "numeric", "r2d2"] }
graph-core = { path = "../../core" }
graph-store-postgres = { path = "../../store/postgres" }
pretty_assertions = "0.7.2"
test-store = { path = "../../store/test-store" }

