[package]
name = "graph-runtime-derive"
version = "0.28.2"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn = { version = "1.0.98", features = ["full"] }
quote = "1.0"
proc-macro2 = "1.0.43"
heck = "0.4"
