dist: trusty
language: rust
rust:
  - stable
  - beta
  - nightly

# Select pre-installed services
addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
    - postgresql-client-10
services:
  - postgresql

before_install:
  # Install IPFS
  - wget "https://dist.ipfs.io/go-ipfs/v0.4.17/go-ipfs_v0.4.17_linux-amd64.tar.gz" -O /tmp/ipfs.tar.gz
  - pushd . && cd $HOME/bin && tar -xzvf /tmp/ipfs.tar.gz && popd
  - export PATH="$HOME/bin/go-ipfs:$PATH"
  - ipfs init
  - ipfs daemon &> /dev/null &

matrix:
  fast_finish: true
  allow_failures:
    - rust: nightly
  include:
    # Some env var is always necessary to differentiate included builds
    # Check coding style
    - env: CHECK_FORMATTING=true
      rust: stable
      script:
        - rustup component add rustfmt
        - cargo fmt --all -- --check

    # Check for warnings
    - env: RUSTFLAGS="-D warnings"
      rust: stable
      script:
        - cargo check --tests

  # Build tagged commits in release mode
    - env: RELEASE=true
      if: tag IS present
      script:
          - cargo build -p graph-node --release
          - mv target/release/graph-node target/release/graph-node-$TRAVIS_OS_NAME

env:
  global:
  - PGPORT=5433
  - THEGRAPH_STORE_POSTGRES_DIESEL_URL=postgresql://travis:travis@localhost:5433/graph_node_test

# Test pipeline
before_script:
  - psql -c "ALTER USER travis WITH PASSWORD 'travis';"
  - psql -c 'create database graph_node_test;' -U travis

script:
  # Run tests
  - RUST_BACKTRACE=1 cargo test --verbose --all -- --nocapture
  # Run tests again using JSONB storage
  - psql -c 'drop database graph_node_test;' -U travis
  - psql -c 'create database graph_node_test;' -U travis
  - RUST_BACKTRACE=1 GRAPH_STORAGE_SCHEME=json cargo test --verbose --all -- --nocapture

deploy:
  provider: releases
  api_key:
    secure: ygpZedRG+/Qg/lPhifyNQ+4rExjZ4nGyJjB4DYT1fuePMyKXfiCPGicaWRGR3ZnZGNRjdKaIkF97vBsZ0aHwW+AykwOxlXrkAFvCKA0Tb82vaYqCLrBs/Y5AEhuCWLFDz5cXDPMkptf+uLX/s3JCF0Mxo5EBN2JfBQ8vS6ScKEwqn2TiLLBQKTQ4658TFM4H5KiXktpyVVdlRvpoS3pRIPMqNU/QpGPQigaiKyYD5+azCrAXeaKT9bBS1njVbxI69Go4nraWZn7wIhZCrwJ+MxGNTOxwasypsWm/u1umhRVLM1rL2i7RRqkIvzwn22YMaU7FZKCx8huXcj0cB8NtHZSw7GhJDDDv3e7puZxl3m/c/7ks76UF95syLzoM/9FWEFew8Ti+5MApzKQj5YWHOCIEzBWPeqAcA8Y+Az7w2h1ZgNbjDgSvjGAFSpE8m+SM0A2TOOZ1g/t/yfbEl8CWO6Y8v2x1EONkp7X0CqJgASMp+h8kzKCbuYyRnghlToY+5wYuh4M9Qg9UeJCt9dOblRBVJwW5CFr62kgE/gso8F9tXXHkRTv3hfk5madZR1Vn5A7KadEO8epfV4IQNsd+VHfoxoJSprx5f77Q2bLMBD1GT/qMqECgSznoTkU5ajkKJRqUw4AwLTohrYir76j61eQfxOhXExY/EM8xvlxpd1w=
  file: target/release/graph-node-$TRAVIS_OS_NAME
  repo: graphprotocol/graph-node
  on:
    tags: true
  skip_cleanup: true
