[workspace]
members = [
    "core",
    "chain/*",
    "graphql",
    "node",
    "runtime/*",
    "server/*",
    "store/*",
    "substreams/*",
    "graph",
    "tests",
]

[workspace.package]
version = "0.34.0"
edition = "2021"
authors = ["The Graph core developers & contributors"]
readme = "README.md"
homepage = "https://thegraph.com"
repository = "https://github.com/graphprotocol/graph-node"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
prost = "0.11"
prost-types = "0.11"
tonic = { version = "0.9.2", features = ["tls-roots", "gzip"] }
tonic-build = { version = "0.9.2", features = ["prost"] }
hyper = { version = "1.1", features = ["client"] }
http = { version = "1" }
http02 = { version = "0", package = "http" } 
hyper-util = { version ="0.1.2", features = ["server", "server-auto", "tokio", "client-legacy"] }

# Incremental compilation on Rust 1.58 causes an ICE on build. As soon as graph node builds again, these can be removed.
[profile.test]
incremental = false

[profile.dev]
incremental = false

[profile.release]
lto = true
opt-level = 's'
strip = "debuginfo"

