[workspace]
members = [
    "core",
    "chain/ethereum",
    "graphql",
    "mock",
    "node",
    "runtime/wasm",
    "runtime/derive",
    "runtime/test",
    "server/http",
    "server/json-rpc",
    "server/index-node",
    "server/metrics",
    "store/postgres",
    "store/test-store",
    "graph",
    "tests",
]

# Incremental compilation on Rust 1.55 causes an ICE on build. As soon as graph node builds again, these can be removed.
[profile.dev]
incremental = false
[profile.test]
incremental = false

[patch.crates-io]
tokio = { git = 'https://github.com/edgeandnode/tokio', branch = 'leo/log-watcher-send' }
