apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    # Access mode - proxy (server in the UI) or direct (browser in the UI).
    access: proxy
    url: http://host.docker.internal:9090
    jsonData:
      httpMethod: GET
      manageAlerts: true
      prometheusType: Prometheus
