[package]
name = "graph"
version = "0.10.0"
edition = "2018"

[dependencies]
backtrace = "0.3.9"
bigdecimal = { version = "0.0.14", features = ["serde"] }
bytes = "0.4.11"
diesel = { version = "1.3.2", features = ["postgres", "serde_json", "numeric", "r2d2"] }

# We would like to switch to upstream master once https://github.com/paritytech/ethabi/pull/145
# is merged.
# But, graph-patches also contains Jannis' https://github.com/paritytech/ethabi/pull/140 PR
# to ethabi. Which we believe will not get merged. For now, we shall deviate from ethabi,
# but long term we want to avoid forking off ethabi if possible
ethabi = { git = "https://github.com/graphprotocol/ethabi.git", branch = "graph-patches" }
hex = "0.3.2"
futures = "0.1.21"
graphql-parser = "0.2.1"
# We're using the latest ipfs-api for the HTTPS support that was merged in
# https://github.com/ferristseng/rust-ipfs-api/commit/55902e98d868dcce047863859caf596a629d10ec
# but has not been released yet.
ipfs-api = { git = "https://github.com/ferristseng/rust-ipfs-api", branch = "master", features = ["hyper-tls"] }
parity-wasm = "0.31"
failure = "0.1.2"
lazy_static = "1.2.0"
num-bigint = { version = "^0.2.2", features = ["serde"] }
rand = "0.6.1"
semver = "0.9.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
serde_yaml = "0.7"
slog = { version = "2.2.3", features = ["release_max_level_debug", "max_level_trace"] }
slog-async = "2.3.0"
slog-envlogger = "2.1.0"
slog-term = "2.4.0"
tiny-keccak = "1.4.2"
tokio = "0.1.11"
tokio-executor = "0.1.5"
tokio-retry = "0.2"
tokio-timer = "0.2.7"
url = "1.7.2"
web3 = { git = "https://github.com/graphprotocol/rust-web3", branch = "trace-struct" }
