[package]
name = "graph"
version = "0.1.0"

[dependencies]
backtrace = "0.3.9"
ethabi = "6.0"
hex = "0.3.2"
futures = "0.1.21"
graphql-parser = "0.2.1"
ipfs-api = "0.5.0-alpha2"
parity-wasm = "0.31"
failure = "0.1.2"
num-bigint = { version = "0.2.0", features = ["serde"] }
serde = "1.0"
serde_derive = "1.0"
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
serde_yaml = "0.7"
slog = { version = "2.2.3", features = ["release_max_level_debug"] }
slog-async = "2.3.0"
slog-term = "2.4.0"
tiny-keccak = "1.0"
tokio = "0.1.7"
tokio-retry = "0.2"
web3 = "0.4.0"
