[package]
name = "graph"
version = "0.19.2"
edition = "2018"

[dependencies]
anyhow = "1.0"
async-trait = "0.1.41"
atomic_refcell = "0.1.6"
bigdecimal = { version = "0.1.0", features = ["serde"] }
bytes = "0.5"
diesel = { version = "1.4.5", features = ["postgres", "serde_json", "numeric", "r2d2"] }
diesel_derives = "1.4"
chrono = "0.4"
Inflector = "0.11.3"
isatty = "0.1"
reqwest = "0.10"

# master contains changes such as
# https://github.com/paritytech/ethabi/pull/140, which upstream does not want
# and we should try to implement on top of ethabi instead of inside it, and
# tuple support which isn't upstreamed yet. For now, we shall deviate from
# ethabi, but long term we want to find a way to drop our fork.
ethabi = { git = "https://github.com/graphprotocol/ethabi.git", branch = "master" }
hex = "0.4.2"
http = "0.2"
futures = "0.1.21"
graphql-parser = "0.2.3"
failure = "0.1.7"
lazy_static = "1.4.0"
mockall = "0.8"
num-bigint = { version = "^0.2.6", features = ["serde"] }
num_cpus = "1.13.0"
num-traits = "0.2"
rand = "0.6.1"
semver = "0.10.0"
serde = { version = "1.0", features = ["rc"] }
serde_derive = "1.0"
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
serde_yaml = "0.8"
slog = { version = "2.5.2", features = ["release_max_level_trace", "max_level_trace"] }
stable-hash = { git = "https://github.com/graphprotocol/stable-hash" }
strum = "0.19.2"
strum_macros = "0.19.2"
slog-async = "2.5.0"
slog-envlogger = "2.1.0"
slog-term = "2.6.0"
petgraph = "0.5.1"
tiny-keccak = "1.5.0"
tokio = { version = "0.2.22", features = ["stream", "rt-threaded", "rt-util", "blocking", "time", "sync", "macros", "test-util"] }
tokio-retry = { git = "https://github.com/graphprotocol/rust-tokio-retry", branch = "update-to-tokio-02" }
url = "2.1.1"
prometheus = "0.7.0"
priority-queue = "0.7.0"
futures03 = { version = "0.3.1", package = "futures", features = ["compat"] }
uuid = { version = "0.8.1", features = ["v4"] }
wasmparser = "0.63.1"
thiserror = "1.0"
im = "15.0"

# Our fork contains a small but hacky patch.
web3 = { git = "https://github.com/graphprotocol/rust-web3", branch = "master" }

[dev-dependencies]
test-store = { path = "../store/test-store" }
maplit = "1.0.2"
structopt = { version = "0.3" }
