[package]
name = "graph"
version = "0.25.0"
edition = "2018"

[dependencies]
anyhow = "1.0"
async-trait = "0.1.50"
async-stream = "0.3"
atomic_refcell = "0.1.8"
bigdecimal = { version = "0.1.0", features = ["serde"] }
bytes = "1.0.1"
diesel = { version = "1.4.8", features = ["postgres", "serde_json", "numeric", "r2d2", "chrono"] }
diesel_derives = "1.4"
chrono = "0.4.19"
Inflector = "0.11.3"
isatty = "0.1.9"
reqwest = { version = "0.11.2", features = ["json", "stream", "multipart"] }
ethabi = "14.0"
hex = "0.4.3"
http = "0.2.3"
fail = { version = "0.5", features = ["failpoints"] }
futures = "0.1.21"
graphql-parser = "0.4.0"
lazy_static = "1.4.0"
mockall = "0.8.3"
num-bigint = { version = "^0.2.6", features = ["serde"] }
num_cpus = "1.13.1"
num-traits = "0.2.14"
rand = "0.6.1"
semver = {version = "1.0.3", features = ["serde"]}
serde = { version = "1.0.126", features = ["rc"] }
serde_derive = "1.0.125"
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
serde_yaml = "0.8"
slog = { version = "2.7.0", features = ["release_max_level_trace", "max_level_trace"] }
stable-hash = { git = "https://github.com/graphprotocol/stable-hash" }
strum = "0.21.0"
strum_macros = "0.21.1"
slog-async = "2.5.0"
slog-envlogger = "2.1.0"
slog-term = "2.7.0"
petgraph = "0.6.0"
tiny-keccak = "1.5.0"
tokio = { version = "1.15.0", features = ["time", "sync", "macros", "test-util", "rt-multi-thread", "parking_lot"] }
tokio-stream = { version = "0.1.8", features = ["sync"] }
tokio-retry = "0.3.0"
url = "2.2.1"
prometheus = "0.13.0"
priority-queue = "0.7.0"
tonic = { version = "0.5.1", features = ["tls-roots"] }
prost = "0.8.0"
prost-types = "0.8.0"
futures03 = { version = "0.3.1", package = "futures", features = ["compat"] }
wasmparser = "0.78.2"
thiserror = "1.0.25"
parking_lot = "0.11.2"
itertools = "0.10.3"

# Our fork contains patches for custom http headers and to make some block fields optional.
# Without the "arbitrary_precision" feature, we get the error `data did not match any variant of untagged enum Response`.
web3 = { git = "https://github.com/graphprotocol/rust-web3", branch = "lutter/graph-0.15.0", features = ["arbitrary_precision"] }
serde_plain = "1.0.0"

[dev-dependencies]
test-store = { path = "../store/test-store" }
maplit = "1.0.2"
structopt = { version = "0.3" }

[build-dependencies]
tonic-build = "0.5.1"
