[package]
name = "graph-core"
version = "0.1.0"

[dependencies]
ethereum-types = "0.3"
futures = "0.1.21"
graphql-parser = "0.2.0"
slog = "2.2.3"
graph = { path = "../graph" }
graph-graphql = { path = "../graphql" }
graph-runtime-wasm = { path = "../runtime/wasm" }
tokio-core = "0.1.17"
serde = "1.0"
serde_yaml = "0.7"

[dev-dependencies]
ethabi = "5.1.1"
ipfs-api = "0.5.0-alpha1"
graph-mock = { path = "../mock" }
