[package]
name = "graph-core"
version = "0.4.1"

[dependencies]
chrono = "0.4"
failure = "0.1.2"
futures = "0.1.21"
graph = { path = "../graph" }
graph-graphql = { path = "../graphql" }
graph-runtime-wasm = { path = "../runtime/wasm" }
itertools = "0.7"
reqwest = "0.9"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde_yaml = "0.7"

[dev-dependencies]
ipfs-api = "0.5.0-alpha2"
graph-mock = { path = "../mock" }
walkdir = "2.2.5"
