[package]
name = "graph-core"
version = "0.16.1"
edition = "2018"

[dependencies]
bytes = "0.4.12"
futures = "0.1.21"
graph = { path = "../graph" }
graph-graphql = { path = "../graphql" }

# We're using the latest ipfs-api for the HTTPS support that was merged in
# https://github.com/ferristseng/rust-ipfs-api/commit/55902e98d868dcce047863859caf596a629d10ec
# but has not been released yet.
ipfs-api = { git = "https://github.com/ferristseng/rust-ipfs-api", branch = "master", features = ["hyper-tls"] }
lazy_static = "1.2.0"
lru_time_cache = "0.9"
semver = "0.9.0"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.8"
uuid = { version = "0.8.1", features = ["v4"] }

[dev-dependencies]
graph-mock = { path = "../mock" }
walkdir = "2.2.9"
test-store = { path = "../store/test-store" }
hex = "0.4.0"
graphql-parser = "0.2.3"
