[package]
name = "graph-core"
version = "0.9.0"
edition = "2018"

[dependencies]
chrono = "0.4"
futures = "0.1.21"
graph = { path = "../graph" }
graph-graphql = { path = "../graphql" }
graph-runtime-wasm = { path = "../runtime/wasm" }
itertools = "0.7"
lazy_static = "1.2.0"
reqwest = "0.9"
semver = "0.9.0"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.7"

[dev-dependencies]
ipfs-api = "0.5.0-alpha2"
graph-mock = { path = "../mock" }
walkdir = "2.2.5"
test-store = { path = "../store/test-store" }
hex = "0.3.2"
graphql-parser = "0.2.1"
