[package]
name = "graph-core"
version = "0.21.1"
edition = "2018"

[dependencies]
async-trait = "0.1.41"
atomic_refcell = "0.1.6"
bytes = "0.5"
futures01 = { package="futures", version="0.1.29" }
futures = { version="0.3.4", features=["compat"] }
graph = { path = "../graph" }
graph-graphql = { path = "../graphql" }
ipfs-api = { version = "=0.7.1", features = ["hyper-tls"] }
lazy_static = "1.2.0"
lru_time_cache = "0.11"
semver = "0.10.0"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.8"
fail = "0.4"

[dev-dependencies]
graph-mock = { path = "../mock" }
walkdir = "2.3.1"
test-store = { path = "../store/test-store" }
hex = "0.4.2"
graphql-parser = "0.3"
prometheus = "0.7"
pretty_assertions = "0.6.1"
anyhow = "1.0"