[package]
name = "graph-core"
version = "0.5.0"

[dependencies]
chrono = "0.4"
futures = "0.1.21"
graph = { path = "../graph" }
graph-graphql = { path = "../graphql" }
graph-runtime-wasm = { path = "../runtime/wasm" }
itertools = "0.7"
lazy_static = "1.2.0"
reqwest = "0.9"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.7"

[dev-dependencies]
ipfs-api = "0.5.0-alpha2"
graph-mock = { path = "../mock" }
walkdir = "2.2.5"
diesel = { version = "1.3.2", features = ["postgres", "serde_json", "numeric", "r2d2"] }
graph-store-postgres = { path = "../store/postgres" }
lazy_static = "1.2.0"
hex = "0.3.2"
graphql-parser = "0.2.1"
