[package]
name = "graph-core"
version = "0.10.0"
edition = "2018"

[dependencies]
chrono = "0.4"
futures = "0.1.21"
graph = { path = "../graph" }
graph-graphql = { path = "../graphql" }
graph-runtime-wasm = { path = "../runtime/wasm" }
itertools = "0.7"
lazy_static = "1.2.0"
reqwest = "0.9"
semver = "0.9.0"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.7"
uuid = { version = "0.7.2", features = ["v4"] }

[dev-dependencies]
# We're using the latest ipfs-api for the HTTPS support that was merged in
# https://github.com/ferristseng/rust-ipfs-api/commit/55902e98d868dcce047863859caf596a629d10ec
# but has not been released yet.
ipfs-api = { git = "https://github.com/ferristseng/rust-ipfs-api", branch = "master", features = ["hyper-tls"] }
graph-mock = { path = "../mock" }
walkdir = "2.2.5"
test-store = { path = "../store/test-store" }
hex = "0.3.2"
graphql-parser = "0.2.1"
