[package]
name = "graph-core"
version.workspace = true
edition.workspace = true

[dependencies]
async-trait = "0.1.50"
atomic_refcell = "0.1.8"
async-stream = "0.3"
bytes = "1.0"
futures01 = { package = "futures", version = "0.1.31" }
futures = { version = "0.3.4", features = ["compat"] }
graph = { path = "../graph" }
# This dependency is temporary. The multiblockchain refactoring is not
# finished as long as this dependency exists
graph-chain-arweave = { path = "../chain/arweave" }
graph-chain-ethereum = { path = "../chain/ethereum" }
graph-chain-near = { path = "../chain/near" }
graph-chain-cosmos = { path = "../chain/cosmos" }
graph-chain-substreams = { path = "../chain/substreams" }
lazy_static = "1.2.0"
lru_time_cache = "0.11"
semver = "1.0.14"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.8"
# Switch to crates.io once tower 0.5 is released
tower = { git = "https://github.com/tower-rs/tower.git", features = ["util", "limit"] }
graph-runtime-wasm = { path = "../runtime/wasm" }
cid = "0.8.6"
anyhow = "1.0"

[dev-dependencies]
tower-test = { git = "https://github.com/tower-rs/tower.git" }
graph-mock = { path = "../mock" }
test-store = { path = "../store/test-store" }
hex = "0.4.3"
graphql-parser = "0.4.0"
pretty_assertions = "1.3.0"
anyhow = "1.0"
ipfs-api-backend-hyper = "0.5"
ipfs-api = { version = "0.16.0", features = ["with-hyper-rustls"], default-features = false }
uuid = { version = "0.8.1", features = ["v4"] }
