name: Continuous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    types: [opened, synchronize, reopened]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  THEGRAPH_STORE_POSTGRES_DIESEL_URL: "postgresql://postgres:postgres@localhost:5432/graph_node_test"

jobs:
  test:
    name: Run tests
    strategy:
      fail-fast: false
      matrix:
        rust: [ "stable", "beta" ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Cache cargo registry
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: test-cargo-${{ hashFiles('**/Cargo.toml') }}

      - name: Install IPFS
        run: |
          wget --no-verbose "https://dist.ipfs.io/go-ipfs/v0.4.17/go-ipfs_v0.4.17_linux-amd64.tar.gz" -O /tmp/ipfs.tar.gz
          ( cd $HOME && tar xzvf /tmp/ipfs.tar.gz )
          export PATH="$HOME/go-ipfs:$PATH"
          ipfs init
          ipfs daemon &> /dev/null &

      - name: Install Node 11
        uses: actions/setup-node@v2
        with:
          node-version: '11'

      - name: Install Postgres
        run: |
          sudo apt-get update
          sudo apt-get install -y libpq-dev postgresql
          echo "host    all             all             127.0.0.1/32            md5" > sudo tee -a /etc/postgresql/10/main/pg_hba.conf
          sudo service postgresql restart && sleep 3
          sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'postgres';"
          sudo service postgresql restart && sleep 3
          sudo -u postgres createdb graph_node_test

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Run unit and integration tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose --all -- --nocapture

  rustfmt:
    name: Check rustfmt style
    strategy:
      matrix:
        rust: [ "stable" ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
            profile: minimal
            toolchain: ${{ matrix.rust }}
            components: rustfmt
            override: true
      - name: Cache cargo registry
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: rustfmt-cargo-${{ hashFiles('**/Cargo.toml') }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install libpq-dev

      - name: Check formating
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  release-check:
    name: Build in release mode
    strategy:
      matrix:
        rust: [ "stable", "beta" ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
            profile: minimal
            toolchain: ${{ matrix.rust }}
            override: true
      - name: Cache cargo registry
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: check-cargo-${{ hashFiles('**/Cargo.toml') }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install libpq-dev

      - name: Cargo check (debug)
        env:
          RUSTFLAGS: "-D warnings"
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --tests

      - name: Cargo check (release)
        env:
          RUSTFLAGS: "-D warnings"
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --release
